// ===========================
// 自定义样式
// ===========================

// 字体
@font-face {
    font-family: LXGWWenKai;
    font-display: swap;
    src: url('../font/lxgw-wenkai-screen-v1.245-subset-standard.woff2') format('woff2');
}
